
<footer>
  <div class="foot_inner">
      <img alt="img" src="{{'logo.png' | asset_url}}"/>
      <ul class="list-unstyled mb-0">
        {% for link in linklists[settings.menu_fv1_1].links %}
        <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
        {% endfor %}
      </ul>  
  </div>
  <div class="copy">
      <span>©︎ ALMACREATION.,LTD. ALL Rights Reserved.</span>
  </div>
</footer>

